.promo-deals {
    background-image: url("images/promo-banner.png");
    height: 500px;
    background-size: cover;
}

.promo-deals-label {
    position: absolute;
    left: 60px;
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    border-top: 10px solid #fa0d1c;
}
