.rc-tooltip-placement-bottom .rc-tooltip-arrow {
    left: 59%;
    border-bottom-color: #28a745;
}

.rc-tooltip-inner {
    margin-right: 2%;
    overflow-y: scroll;
    background-color: #ffffff;
    border: 3px solid #28a745;
}
