.menu-container {
    .subcategories {
        display: none;

        height: 150px;
        background: #dfece2;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    &:hover .subcategories {
        display: flex;
    }

    .navbar-nav .nav-item:hover {
        background-color: #5699e2;
    }
}
